<%#
    共通利用<footer>タグ
    ※ページ独自のデザインがある場合は、パラメータを渡しclassを付与する
%>

<%#
Share URL
%>

<%
const twURL = 'https://twitter.com/intent/tweet?text=';
const fbURL = 'https://www.facebook.com/sharer/sharer.php?u=';

const twTOP = twURL + '%E3%83%80%E3%83%9F%E3%83%BC%E3%83%86%E3%82%AD%E3%82%B9%E3%83%88%E3%80%81%E3%81%93%E3%81%AE%E3%81%A6%E3%81%8D%E3%81%99%E3%81%A8%E3%81%AF%E3%81%A0%E3%81%BF%E3%83%BC%E3%81%A7%E3%81%99%E3%80%82https%3A%2F%2Fwww.hoge.co.jp%2Fhoge%2F';

const fbTOP = fbURL + 'https%3A%2F%2Fwww.hoge.co.jp%2Fhoge%2F';
%>

<a href="#page_top" class="c-footer-page-top" data-scroll>ページの先頭へ戻る</a>
<footer id="footer" class="c-footer">
    <div class="c-footer__content">
        <ul class="c-mt30">
            <li>
                <a class="c-link" href="<% if (page === 'top') { %><%- twTOP %><% } %>" target="_blank">Twitter</a>
            </li>
            <li>
                <a class="c-link" href="<% if (page === 'top') { %><%- fbTOP %><% } %>" target="_blank">Facebook</a>
            </li>
        </ul>
    </div>
</footer>