<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>レイアウトページ | hoge</title>
        <meta name="description" content="レイアウトページのディスクプリクション | hoge">
        <meta name="keywords" content="hoge">
        <meta name="format-detection" content="telephone=no">
        <link rel="canonical" href="https://www.hoge.jp/"><!-- favicon -->
        <link rel="icon" href="../assets/img/common/favicon.ico">
        <link rel="apple-touch-icon" href="../assets/img/common/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="../assets/img/common/android-chrome-192x192.png">
        <!-- 共通CSS -->
        <link rel="stylesheet" type="text/css" href="../assets/css/common.css">
        <!-- ページ独自CSS -->
        <link rel="stylesheet" type="text/css" href="../assets/vendor/popup/magnific-popup.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/layout.css">
        <meta property="og:type" content="article">
        <meta property="og:locale" content="ja_JP">
        <meta property="og:title" content="レイアウトページ | hoge">
        <meta property="og:description" content="レイアウトページのディスクプリクション | hoge">
        <meta property="og:url" content="https://www.hoge.jp/">
        <meta property="og:image" content="https://www.hoge.jp/hoge/assets/img/common/ogp.png">
        <meta property="og:site_name" content="hoge">
        <meta name="twitter:card" content="summary_large_image">
    </head>
    <body>
        <header id="header" class="c-header">
            <nav class="c-header__content">
                <div class="c-header-logo">
                    <a class="c-header-logo__item" href="../">
                        <img src="https://placehold.jp/b5b5b5/ffffff/180x48.png?text=LOGO" alt="">
                    </a>
                </div>
                <button class="c-header-menu" data-menu-btn></button>
                <div class="c-header-box" data-header-nav>
                    <nav class="c-header-box__content" aria-label="サイト内メニュー">
                        <button class="c-header-close" aria-label="閉じる" data-header-close></button>
                        <a class="c-header-sp-logo" href="../">
                            <img src="https://placehold.jp/b5b5b5/ffffff/180x48.png?text=LOGO" alt="">
                        </a>
                        <ul class="c-header-list">
                            <li>
                                <a class="c-header-list-item" href="../single/">記事ページsample</a>
                            </li>
                            <li>
                                <a class="c-header-list-item" href="../layout/">レイアウトsample</a>
                            </li>
                            <li>
                                <a class="c-header-list-item" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-list-item" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-list-item" href="hoge">ダミーテキスト</a>
                            </li>
                            <li>
                                <a class="c-header-list-item" href="hoge">ダミーテキスト</a>
                            </li>
                        </ul>
                        <ul class="c-header-sns">
                            <li>
                                <a class="c-header-sns-item" href="" target="_blank">
                                    <img src="https://placehold.jp/00ccff/ffffff/48x48.png?text=Twitter" alt="Twitter">
                                </a>
                            </li>
                            <li>
                                <a class="c-header-sns-item" href="" target="_blank">
                                    <img src="https://placehold.jp/4800ff/ffffff/48x48.png?text=Facebook" alt="Facebook">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </header>
        <!-- /header -->
        <div class="c-breadcrumb">
            <h1>hoge</h1>
        </div>
        <main class="c-main">
            <section class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">アンカーリンク</h2>
                    <div class="c-mt20">
                        <ul class="sample-anchor">
                            <li><a class="c-link" href="#1" data-scroll>テーブル</a></li>
                            <li><a class="c-link" href="#2" data-scroll>入力フォーム</a></li>
                            <li><a class="c-link" href="#3" data-scroll>タブ切り替え</a></li>
                            <li><a class="c-link" href="#4" data-scroll>Google Maps埋め込み</a></li>
                            <li><a class="c-link" href="#5" data-scroll>モーダルウィンドウ(YouTube埋め込み)</a></li>
                            <li><a class="c-link" href="#6" data-scroll>テキスト強調</a></li>
                            <li><a class="c-link" href="#7" data-scroll>汎用アコーディオン</a></li>
                            <li><a class="c-link" href="#8" data-scroll>要素内の高さ揃え</a></li>
                            <li><a class="c-link" href="#9" data-scroll>汎用ボタン</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="1" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">テーブル</h2>
                    <div class="c-mt20">
                        <p>SP時 横スクロールあり</p>
                        <div class="c-tbl-scroll">
                            <table class="c-tbl">
                                <thead>
                                    <tr>
                                        <th>基本情報</th>
                                        <th>お試し</th>
                                        <th>ライト</th>
                                        <th>レギュラー</th>
                                        <th>プレミアム</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>価格</th>
                                        <td>無料</td>
                                        <td>5,000円</td>
                                        <td>10,000円</td>
                                        <td>50,000円</td>
                                    </tr>
                                    <tr>
                                        <th>登録人数</th>
                                        <td>1名まで</td>
                                        <td>10名まで</td>
                                        <td>50名まで</td>
                                        <td>300名まで</td>
                                    </tr>
                                    <tr>
                                        <th>ストレージ容量</th>
                                        <td>100MB</td>
                                        <td>10GB</td>
                                        <td>50GB</td>
                                        <td>100GB</td>
                                    </tr>
                                    <tr>
                                        <th>オプション</th>
                                        <td>無し</td>
                                        <td>ダミーテキスト、このテキストはダミーです。</td>
                                        <td>いろはにほへとちりぬるお</td>
                                        <td>hoge</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="c-tbl-scroll-note">右にスクロールできます→</p>
                    </div>
                    <div class="c-mt20">
                        <p>通常版</p>
                        <table class="c-tbl">
                            <thead>
                                <tr>
                                    <th>基本情報</th>
                                    <th>お試し</th>
                                    <th>ライト</th>
                                    <th>レギュラー</th>
                                    <th>プレミアム</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>価格</th>
                                    <td>無料</td>
                                    <td>5,000円</td>
                                    <td>10,000円</td>
                                    <td>50,000円</td>
                                </tr>
                                <tr>
                                    <th>登録人数</th>
                                    <td>1名まで</td>
                                    <td>10名まで</td>
                                    <td>50名まで</td>
                                    <td>300名まで</td>
                                </tr>
                                <tr>
                                    <th>ストレージ容量</th>
                                    <td>100MB</td>
                                    <td>10GB</td>
                                    <td>50GB</td>
                                    <td>100GB</td>
                                </tr>
                                <tr>
                                    <th>オプション</th>
                                    <td>無し</td>
                                    <td>ダミーテキスト、このテキストはダミーです。</td>
                                    <td>いろはにほへとちりぬるお</td>
                                    <td>hoge</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- /テーブル -->
            <section id="2" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">入力フォーム</h2>
                    <div class="c-mt20">
                        <form action="./" method="post">
                            <input class="c-input" type="email" name="email" autocomplete="email">
                            <button class="c-input-btn c-strong" type="submit">送信</button>
                        </form>
                    </div>
                </div>
            </section>
            <!-- /入力フォーム -->
            <section id="3" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">タブ切り替え</h2>
                    <div class="c-tab c-tab--col3">
                        <div class="c-tab-list" role="tablist" data-tab-list>
                            <button id="tab-1" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-1" data-tab-active data-tab="tab-1">タブ切り替え 1</button>
                            <button id="tab-2" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-2" data-tab="tab-2">タブ切り替え 2</button>
                            <button id="tab-3" class="c-tab-list__btn" type="button" role="tab" aria-controls="panel-3" data-tab="tab-3">タブ切り替え 3</button>
                        </div>
                        <div class="c-tab-content" data-tab-content>
                            <div id="panel-1" class="c-tab-item" role="tabpanel" aria-labelledby="tab-1" data-tab-item data-tab-active data-tab="tab-1">
                                <p>タブ切り替え 1のコンテンツ</p>
                            </div>
                            <!-- /タブ切り替え 3 -->
                            <div id="panel-2" class="c-tab-item" role="tabpanel" aria-labelledby="tab-2" data-tab-item data-tab="tab-2">
                                <p>タブ切り替え 2のコンテンツ</p>
                            </div>
                            <!-- /タブ切り替え 4 -->
                            <div id="panel-3" class="c-tab-item" role="tabpanel" aria-labelledby="tab-3" data-tab-item data-tab="tab-3">
                                <p>タブ切り替え 3のコンテンツ</p>
                            </div>
                            <!-- /タブ切り替え 5 -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- /タブ切り替え -->
            <section id="4" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">Google Maps埋め込み</h2>
                    <div class="c-mt20">
                        <div class="c-youtube-iframe"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d850494.5342862558!2d130.58595375000002!3d33.62490775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541817af77eb125%3A0x97a20ffb4a51384d!2z56aP5bKh55yM!5e0!3m2!1sja!2sjp!4v1663725211225!5m2!1sja!2sjp" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                    </div>
                </div>
            </section>
            <!-- /Google Maps埋め込み -->
            <section id="5" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">モーダルウィンドウ(YouTube埋め込み)</h2>
                    <div class="c-mt20 sample-btn">
                        <a class="modal-video-link" href="https://www.youtube.com/watch?v=FTWH1Fdkjow" data-popup-video>
                            <img src="https://placehold.jp/24/000000/ffffff/250x50.png?text=sample" width="250" height="50">
                        </a>
                    </div>
                </div>
            </section>
            <!-- /モーダルウィンドウ(YouTube埋め込み) -->
            <section id="6" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">テキスト強調</h2>
                    <div class="c-mt20">
                        <p>あの<span class="c-highlight c-strong">イーハトーヴォ</span>のすきとおった風、夏でも底に冷たさをもつ<span class="c-strong">青いそら</span>、<span class="c-highlight">うつくしい森で飾られたモリーオ市</span>、郊外のぎらぎらひかる草の波。</p>
                    </div>
                </div>
            </section>
            <!-- /テキスト強調 -->
            <section id="7" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">汎用アコーディオン</h2>
                    <dl class="c-mt20">
                        <dt class="accordion-head" data-accordion-head>
                            <span class="accordion-head__content">アコーディオン</span>
                        </dt>
                        <dd class="accordion-body"> 後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大 </dd>
                        <dt class="accordion-head" data-accordion-head>
                            <span class="accordion-head__content">アコーディオン この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</span>
                        </dt>
                        <dd class="accordion-body"> つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより） </dd>
                        <dt class="accordion-head" data-accordion-head>
                            <span class="accordion-head__content">アコーディオン</span>
                        </dt>
                        <dd class="accordion-body"> 後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大きな爆発音がした。俺は驚いて振り返った。後ろで大 </dd>
                    </dl>
                </div>
            </section>
            <!-- /汎用アコーディオン -->
            <section id="8" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">要素内の高さ揃え</h2>
                    <div class="c-mt20">
                        <div class="sample-col" data-auto-height>
                            <dl class="sample-col-item" data-auto-height-item>
                                <dt>hoge</dt>
                                <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                            </dl>
                            <dl class="sample-col-item" data-auto-height-item>
                                <dt>hogehoge</dt>
                                <dd><img src="../assets/img/common/169-600x480.jpg" alt="ダミー画像"></dd>
                                <dd>つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）</dd>
                            </dl>
                            <dl class="sample-col-item" data-auto-height-item>
                                <dt>hogehoge</dt>
                                <dd><img src="../assets/img/common/640x500.png" alt="ダミー画像"></dd>
                                <dd>後ろで大きな爆発音がした。俺は驚いて振り返った。</dd>
                            </dl>
                            <dl class="sample-col-item" data-auto-height-item>
                                <dt>hoge</dt>
                                <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /要素内の高さ揃え -->
            <section id="9" class="c-section">
                <div class="c-section__content">
                    <h2 class="c-strong">汎用ボタン</h2>
                    <div class="c-mt20">
                        <a class="c-btn" href="#">
                            <span class="c-btn-content">通常</span>
                        </a>
                    </div>
                    <div class="c-mt20">
                        <a class="c-btn" href="#">
                            <span class="c-btn-content">ボタン内のテキストが2列以上になる時</span>
                        </a>
                    </div>
                    <div class="c-mt20">
                        <a class="c-btn c-btn--center" href="#">
                            <span class="c-btn-content">ボタン中央寄せ</span>
                        </a>
                    </div>
                    <div class="c-mt20">
                        <a class="c-btn" href="#">
                            <span class="c-btn-content c-btn-content--top">上矢印</span>
                        </a>
                    </div>
                    <div class="c-mt20">
                        <a class="c-btn" href="#">
                            <span class="c-btn-content c-btn-content--bottom">下矢印</span>
                        </a>
                    </div>
                    <div class="c-mt20">
                        <a class="c-btn" href="#">
                            <span class="c-btn-content c-btn-content--left">左矢印</span>
                        </a>
                    </div>
                </div>
            </section>
            <!-- /汎用ボタン -->
        </main>
        <!-- /main --><a href="#page_top" class="c-footer-page-top" data-scroll>ページの先頭へ戻る</a>
        <footer id="footer" class="c-footer">
            <div class="c-footer__content">
                <ul class="c-mt30">
                    <li>
                        <a class="c-link" href="" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a class="c-link" href="" target="_blank">Facebook</a>
                    </li>
                </ul>
            </div>
        </footer>
        <!-- /footer -->
        <!-- 共通JS -->
        <script src="../assets/vendor/jquery-3.6.0.min.js" defer></script>
        <script src="../assets/js/common.js" defer></script>
        <script src="../assets/vendor/popup/jquery.magnific-popup.min.js" defer></script>
        <script src="../assets/js/layout.js" defer></script>
    </body>
</html>