@charset "UTF-8";

/*
 * テーブル
 */

.c-tbl {
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #969696;
}

.c-tbl thead tr th {
  padding: 20px 10px;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #555;
  color: #fff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.c-tbl thead tr th:first-child {
  border-left: 1px solid #969696;
}

.c-tbl tbody {
  border-left: 1px solid #969696;
}

.c-tbl tbody tr td,
.c-tbl tbody tr th {
  padding: 10px;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}

.c-tbl tbody tr th {
  background: #eaeaef;
  font-weight: 700;
}

/*
 * フォーム
 */

.c-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.c-input-btn {
  padding: 5px 15px;
  border-radius: 4px;
  background: #ccc;
  color: #222;
}

@-webkit-keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c-tabs {
  margin-right: auto;
  margin-left: auto;
}

.c-tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.c-tabs-list li {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #fff;
  color: #000;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
}

.c-tabs-list li.is-active {
  border-top: 5px solid #000;
}

.c-tabs-list li:not(.is-active) {
  border-top: 3px solid #e7e7e7;
}

.c-tabs-content {
  background: #e7e7e7;
}

.c-tabs-item {
  display: none;
}

.c-tabs-item.is-active {
  display: block;
  -webkit-animation: tooltipShow .3s linear 0s;
  animation: tooltipShow .3s linear 0s;
}

/*
 * レイアウト
 */

@media screen and (min-width: 768px) {
  .c-tbl-scroll-note {
    display: none;
  }

  .c-tabs {
    max-width: 1000px;
    margin-top: 30px;
  }

  .c-tabs-list li {
    cursor: pointer;
  }

  .c-tabs-list li.is-active {
    width: 56.8%;
    font-size: 28px;
  }

  .c-tabs-list li:not(.is-active) {
    width: 43.2%;
    font-size: 22px;
  }

  .c-tabs-content {
    padding: 20px;
  }

  .c-tabs-item {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .c-tbl-scroll {
    overflow-x: scroll;
  }

  .c-tbl-scroll-note {
    margin-top: 10px;
  }

  .c-tbl-scroll > .c-tbl {
    min-width: 600px;
  }

  .c-tabs {
    max-width: 480px;
    margin-top: 20px;
  }

  .c-tabs-list li.is-active {
    width: 56.875%;
    font-size: 13px;
  }

  .c-tabs-list li:not(.is-active) {
    width: 43.125%;
    font-size: 10px;
  }

  .c-tabs-content {
    padding: 10px;
  }
}