/*
 * 汎用アコーディオン
 */

@use "../_base/mixin";

.accordion {
  &-head {
    position: relative;
    background-color: #eaeaef;

    @include mixin.view-at("pc") {
      cursor: pointer;

      &:hover {
        @include mixin.pcHover();
      }
    }

    &:not(:first-of-type) {
      margin-top: 2px;
    }

    &__content {
      display: block;
      font-weight: 700;
      padding: 10px 40px 10px 10px;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 15px;
        height: 3px;
        background: #000;
        position: absolute;
        right: 15px;
        top: calc(15px + .4em);
        transform: translateY(-50%);
      }

      &::after {
        transform: translateY(-50%) rotate(90deg);
        transition: .5s;
      }
    }

    &.is-open {
      .accordion-head__content {
        &::after {
          transform: rotate(0);
          transition: .5s;
        }
      }
    }
  }

  &-body {
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
  }
}