/*
 * 記事一覧(カード型)
 */

@use "../_base/mixin";

.c-article-card {
  @include mixin.view-at("pc") {
    margin-left: auto;
    margin-left: auto;
  }

  @include mixin.view-at("sp") {
    padding-top: 20px;
  }

  &__content {
    @include mixin.view-at("pc") {
      display: flex;
      flex-wrap: wrap;
      padding-top: 20px;
      margin-left: -10px;
      margin-right: -10px;
    }

    @include mixin.view-at("sp") {
      margin-top: 40px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;

    @include mixin.view-at("pc") {
      width: 100%;
      border: 1px solid #ccc;

      &:hover {
        @include mixin.pcHover();
      }
    }
  }

  &__item {
    display: flex;

    @include mixin.view-at("pc") {
      width: calc(33.333% - 20px);
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }

    @include mixin.view-at("sp") {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  &__head {
    @include mixin.view-at("pc") {
      flex-shrink: 0;
    }
  }

  &__body {
    @include mixin.view-at("pc") {
      padding: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: stretch;
    }

    @include mixin.view-at("sp") {
      padding-top: 15px;
    }
  }

  &__title {
    font-weight: 700;

    @include mixin.view-at("pc") {
      flex-shrink: 0;
    }
  }

  &-label {
    display: inline-block;
    font-weight: 600;
    padding: .5em .8em;
    font-size: .7em;
    margin-right: 10px;
    color: #555;
    background: #ccc;

    &--info {
      color: #fff;
      background: crimson;
    }

    &--product {
      color: #fff;
      background: #0000cd;
    }

    &--service {
      color: #fff;
      background: #008080;
    }

    &--other {
      color: #222;
      background: #b0c4de;
    }
  }

  &__text {
    margin-top: 20px;

    @include mixin.view-at("pc") {
      flex-grow: 1;
    }
  }

  &__data {
    display: inline-block;
    color: #ccc;

    @include mixin.view-at("pc") {
      font-size: 12px;
      margin-top: 20px;
    }

    @include mixin.view-at("sp") {
      font-size: 10px;
      margin-top: 10px;
    }
  }
}