/*
 * フローティングバナー
 */

@use "../_base/mixin";

.c-floating-bnr {
  position: fixed;
  right: 0;
  bottom: 40px;
  z-index: 100;
  transition: all .3s;
  transform: translateX(100%);

  @include mixin.view-at("pc") {
    width: 150px;
  }

  @include mixin.view-at("sp") {
    width: calc(100% / 3);
  }

  &.is-show {
    transform: translateX(0);
  }

  &__btn {
    display: block;

    @include mixin.view-at("pc") {
      @include mixin.pcHover();
    }
  }
}