/*
 * フォーム
 */

.c {
  // * 入力フォーム
  &-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;

    &-btn {
      background: #ccc;
      color: #222;
      padding: 5px 15px;
      border-radius: 4px;
    }
  }
}