/*
 * 記事ページ
 */

@use "../_base/mixin";

.c-single {
  &-title {
    font-weight: 600;

    &-label {
      display: inline-block;
      padding: .5em .8em;
      background: #ccc;
      color: #555;

      @include mixin.view-at("pc") {
        font-size: 12px;

        &:hover {
          @include mixin.pcHover();
        }
      }

      @include mixin.view-at("sp") {
        font-size: 10px;
      }

      &--info {
        color: #fff;
        background: #ff5252;
      }

      &--info-cat {
        color: #ff5252;
        background: #fff;
        border: 1px solid #ff5252;
      }

      &--product {
        color: #fff;
        background: #303f9f;
      }

      &--service {
        color: #fff;
        background: #4caf50;
      }

      &--recruit {
        color: #fff;
        background: #ff9800;
      }

      &--recruit-cat {
        color: #ff9800;
        background: #fff;
        border: 1px solid #ff9800;
      }

      &--other {
        color: #222;
        background: #b0c4de;
      }
    }

    &-main {
      display: inline-block;
      margin-top: 10px;

      @include mixin.view-at("pc") {
        font-size: 24px;
      }

      @include mixin.view-at("sp") {
        font-size: 18px;
      }
    }
  }

  &-figure {
    position: relative;

    @include mixin.view-at("pc") {
      margin-top: 30px;
    }

    @include mixin.view-at("sp") {
      margin-top: 20px;
    }

    &__text {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($color: #000000, $alpha: .7);
      color: #fff;

      @include mixin.view-at("pc") {
        font-size: 14px;
        padding: 15px;
      }

      @include mixin.view-at("sp") {
        font-size: 12px;
        padding: 5px;
      }
    }
  }

  &-text {
    @include mixin.view-at("pc") {
      margin-top: 50px;
      font-size: 18px;
    }

    @include mixin.view-at("sp") {
      margin-top: 40px;
      font-size: 16px;
    }
  }
}
