
// * タブ切り替え
@use "../_base/mixin";

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c-tabs {
  margin-left: auto;
  margin-right: auto;

  @include mixin.view-at("pc") {
    max-width: 1000px;
    margin-top: 30px;
  }

  @include mixin.view-at("sp") {
    max-width: 480px;
    margin-top: 20px;
  }

  &-list {
    display: flex;
    align-items: flex-end;

    &__btn {
      color: #000;
      background: #fff;
      letter-spacing: 0;
      font-weight: 700;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
      width: 50%;

      @include mixin.view-at("pc") {
        cursor: pointer;
      }

      &.is-active {
        border-top: 5px solid #000;

        @include mixin.view-at("pc") {
          font-size: 28px;
        }

        @include mixin.view-at("sp") {
          font-size: 13px;
        }
      }

      &:not(.is-active) {
        border-top: 3px solid #e7e7e7;

        @include mixin.view-at("pc") {
          font-size: 22px;
        }

        @include mixin.view-at("sp") {
          font-size: 10px;
        }
      }
    }
  }

  &-content {
    background: #e7e7e7;

    @include mixin.view-at("pc") {
      padding: 20px;
    }

    @include mixin.view-at("sp") {
      padding: 10px;
    }
  }

  &-item {
    display: none;

    @include mixin.view-at("pc") {
      font-size: 15px;
    }

    &.is-active {
      animation: tooltipShow .3s linear 0s;
      display: block;
    }
  }

  &--col3 {
    .c-tabs-list__btn {
      width: calc(100% / 3);
    }
  }
}