
// * タブ切り替え
@use "../_base/mixin";

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c-tabs {
  margin-left: auto;
  margin-right: auto;

  @include mixin.view-at("pc") {
    max-width: 1000px;
    margin-top: 30px;
  }

  @include mixin.view-at("sp") {
    max-width: 480px;
    margin-top: 20px;
  }

  &-list {
    display: flex;
    align-items: flex-end;

    &__btn {
      color: #000;
      background: #fff;
      letter-spacing: 0;
      font-weight: 700;
      text-align: center;
      padding-top: 1em;
      padding-bottom: 1em;
      width: 50%;

      @include mixin.view-at("pc") {
        cursor: pointer;
      }

      &.is-active {
        border-top: 5px solid #000;

        @include mixin.view-at("pc") {
          font-size: 28px;
        }

        @include mixin.view-at("sp") {
          font-size: 13px;
        }
      }

      &:not(.is-active) {
        border-top: 3px solid #e7e7e7;

        @include mixin.view-at("pc") {
          font-size: 22px;
        }

        @include mixin.view-at("sp") {
          font-size: 10px;
        }
      }
    }
  }

  &-content {
    background: #e7e7e7;

    @include mixin.view-at("pc") {
      padding: 20px;
    }

    @include mixin.view-at("sp") {
      padding: 10px;
    }
  }

  &-item {
    display: none;

    @include mixin.view-at("pc") {
      font-size: 15px;
    }

    &.is-active {
      animation: tooltipShow .3s linear 0s;
      display: block;
    }
  }

  &--col3 {
    .c-tabs-list__btn {
      width: calc(100% / 3);
    }
  }
}

.service-tabs {
  margin-top: 20px;
  &__menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #bababa;
  }
  &__menu-item {
    width: calc( 100% / 3 - 4px );
    margin-bottom: -5px;
    padding: 16px 20px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    border-top-left-radius: 10px;
    background: #bababa;
    cursor: pointer;
    &.is-active {
      background: #1088d4;
      cursor: default;
    }
  }
  &__body {
    display: none;
    background: #eff6fb;
    padding: 60px 48px 80px;
    &.is-active {
      display: block;
    }
  }
}