// * スライダー

@use "../../_base/mixin";

$color-slider: #333;

.c {
  &-slider {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    @include mixin.view-at("pc") {
      max-width: 1012px;
    }

    @include mixin.view-at("sp") {
      width: calc(100% - 40px);
    }

    &-area {
      overflow-x: hidden;
    }

    &__content {
      display: none;

      &.slick-slider {
        display: block;
      }

      .slick-list {
        overflow: visible;
      }

      .slick-arrow {
        z-index: 2;

        &:before {
          color: $color-slider;
        }
      }

      .slick-next {
        @include mixin.view-at("pc") {
          right: 25px;
        }

        @include mixin.view-at("sp") {
          right: 15px;
        }
      }

      .slick-prev {
        @include mixin.view-at("pc") {
          left: 25px;
        }

        @include mixin.view-at("sp") {
          left: 15px;
        }
      }

      .slick-dots li button:before,
      .slick-dots li.slick-active button:before {
        content: '';
        background-color: $color-slider;
        border-radius: 5px;
        width: 10px;
        height: 10px;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      }
    }

    &__item {
      padding-left: 6px;
      padding-right: 6px;
      transition: .1s opacity ease;

      &.slick-slide:not(.slick-current) {
        opacity: .7;
      }
    }

    &__link {
      display: block;

      @include mixin.view-at("pc") {
        @include mixin.pcHover();
      }
    }

    &__mv {
      padding-left: 6px;
      padding-right: 6px;
    }

    .slick-initialized {
      +.c-slider__mv {
        display: none;
      }
    }
  }
}