@charset "UTF-8";

/*
 * テーブル
 */

.c-tbl {
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #969696;
}

.c-tbl thead tr th {
  padding: 20px 10px;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #555;
  color: #fff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.c-tbl thead tr th:first-child {
  border-left: 1px solid #969696;
}

.c-tbl tbody {
  border-left: 1px solid #969696;
}

.c-tbl tbody tr td,
.c-tbl tbody tr th {
  padding: 10px;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}

.c-tbl tbody tr th {
  background: #eaeaef;
  font-weight: 700;
}

/*
 * フォーム
 */

.c-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.c-input-btn {
  width: 200px;
  margin-top: 30px;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
  text-align: center;
}

@-webkit-keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c-tabs {
  margin-right: auto;
  margin-left: auto;
}

.c-tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.c-tabs-list li {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #fff;
  color: #000;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
}

.c-tabs-list li.is-active {
  border-top: 5px solid #000;
}

.c-tabs-list li:not(.is-active) {
  border-top: 3px solid #e7e7e7;
}

.c-tabs-content {
  background: #e7e7e7;
}

.c-tabs-item {
  display: none;
}

.c-tabs-item.is-active {
  display: block;
  -webkit-animation: tooltipShow .3s linear 0s;
  animation: tooltipShow .3s linear 0s;
}

/*
 * youtube埋め込み レスポンシブ対応 
 */

.c-youtube-iframe {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.c-youtube-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.modal-video.mfp-bg {
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.modal-video.mfp-bg.mfp-ready {
  opacity: .8;
}

.modal-video.mfp-bg.mfp-removing {
  opacity: 0;
}

.modal-video.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.modal-video.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.modal-video.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.modal-video .mfp-close {
  opacity: 1;
  color: #fff;
}

.modal-video-link {
  display: block;
}

/*
 * 汎用アコーディオン
 */

.accordion-head {
  position: relative;
  background-color: #eaeaef;
}

.accordion-head:not(:first-of-type) {
  margin-top: 2px;
}

.accordion-head__content {
  display: block;
  padding: 10px 40px 10px 10px;
  font-weight: 700;
}

.accordion-head__content::before,
.accordion-head__content::after {
  display: block;
  position: absolute;
  top: calc(15px + .4em);
  right: 15px;
  width: 15px;
  height: 3px;
  background: #000;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion-head__content::after {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.accordion-head.is-open .accordion-head__content::after {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotate(0) translateY(-.1em);
  transform: rotate(0) translateY(-.1em);
}

.accordion-body {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 * レイアウト
 */

.sample-btn {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .c-tbl-scroll-note {
    display: none;
  }

  .c-input-btn {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .c-input-btn:hover {
    opacity: .7;
  }

  .c-tabs {
    max-width: 1000px;
    margin-top: 30px;
  }

  .c-tabs-list li {
    cursor: pointer;
  }

  .c-tabs-list li.is-active {
    width: 56.8%;
    font-size: 28px;
  }

  .c-tabs-list li:not(.is-active) {
    width: 43.2%;
    font-size: 22px;
  }

  .c-tabs-content {
    padding: 20px;
  }

  .c-tabs-item {
    font-size: 15px;
  }

  .modal-video .mfp-close {
    top: -60px;
    width: 64px;
    height: 64px;
    font-size: 48px;
  }

  .modal-video-link {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .modal-video-link:hover {
    opacity: .7;
  }

  .accordion-head {
    cursor: pointer;
  }

  .accordion-head:hover {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .accordion-head:hover:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 767px) {
  .c-tbl-scroll {
    overflow-x: scroll;
  }

  .c-tbl-scroll-note {
    margin-top: 10px;
  }

  .c-tbl-scroll > .c-tbl {
    min-width: 600px;
  }

  .c-tabs {
    max-width: 480px;
    margin-top: 20px;
  }

  .c-tabs-list li.is-active {
    width: 56.875%;
    font-size: 13px;
  }

  .c-tabs-list li:not(.is-active) {
    width: 43.125%;
    font-size: 10px;
  }

  .c-tabs-content {
    padding: 10px;
  }

  .modal-video .mfp-container {
    padding-right: 10px;
    padding-left: 10px;
  }
}