@charset "UTF-8";

/*
 * テーブル
 */

.c-tbl {
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #969696;
}

.c-tbl thead tr th {
  padding: 20px 10px;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #555;
  color: #fff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.c-tbl thead tr th:first-child {
  border-left: 1px solid #969696;
}

.c-tbl tbody {
  border-left: 1px solid #969696;
}

.c-tbl tbody tr td,
.c-tbl tbody tr th {
  padding: 10px;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}

.c-tbl tbody tr th {
  background: #eaeaef;
  font-weight: 700;
}

/*
 * フォーム
 */

.c-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.c-input-btn {
  width: 200px;
  margin-top: 30px;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
  text-align: center;
}

@-webkit-keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.c-tab {
  margin-right: auto;
  margin-left: auto;
}

.c-tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.c-tab-list__btn {
  width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #fff;
  color: #000;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
}

.c-tab-list__btn.is-active {
  border-top: 5px solid #000;
}

.c-tab-list__btn:not(.is-active) {
  border-top: 3px solid #e7e7e7;
}

.c-tab-content {
  background: #e7e7e7;
}

.c-tab-item {
  display: none;
}

.c-tab-item.is-active {
  display: block;
  -webkit-animation: tooltipShow .3s linear 0s;
  animation: tooltipShow .3s linear 0s;
}

.c-tab--col3 .c-tabs-list__btn {
  width: 33.3333333333%;
}

.service-tabs {
  margin-top: 20px;
}

.service-tabs__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 5px solid #bababa;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service-tabs__menu-item {
  width: calc(33.3333333333% - 4px);
  margin-bottom: -5px;
  padding: 16px 20px;
  border-top-left-radius: 10px;
  background: #bababa;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
}

.service-tabs__menu-item.is-active {
  background: #1088d4;
  cursor: default;
}

.service-tabs__body {
  display: none;
  padding: 60px 48px 80px;
  background: #eff6fb;
}

.service-tabs__body.is-active {
  display: block;
}

/*
 * youtube埋め込み レスポンシブ対応 
 */

.c-youtube-iframe {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.c-youtube-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.modal-video.mfp-bg {
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.modal-video.mfp-bg.mfp-ready {
  opacity: .8;
}

.modal-video.mfp-bg.mfp-removing {
  opacity: 0;
}

.modal-video.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.modal-video.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.modal-video.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.modal-video .mfp-close {
  opacity: 1;
  color: #fff;
}

.modal-video-link {
  display: block;
}

/*
 * 汎用アコーディオン
 */

.accordion-head {
  position: relative;
  background-color: #eaeaef;
}

.accordion-head:not(:first-of-type) {
  margin-top: 2px;
}

.accordion-head__content {
  display: block;
  padding: 10px 40px 10px 10px;
  font-weight: 700;
}

.accordion-head__content::before,
.accordion-head__content::after {
  display: block;
  position: absolute;
  top: calc(15px + .4em);
  right: 15px;
  width: 15px;
  height: 3px;
  background: #000;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion-head__content::after {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.accordion-head.is-open .accordion-head__content::after {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotate(0) translateY(-.1em);
  transform: rotate(0) translateY(-.1em);
}

.accordion-body {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 * ボタン
 */

.c-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  border-radius: 30px;
  background-color: #0000cd;
  line-height: 1.15;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-btn--center {
  margin-right: auto;
  margin-left: auto;
}

.c-btn-content {
  display: block;
  position: relative;
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.c-btn-content::before {
  position: absolute;
  top: 0;
  right: 1em;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-btn-content--top::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.c-btn-content--bottom::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.c-btn-content--left::before {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/**
* * YouTubeのIFramePlayerAPIを使って複数のモーダル表示のYouTube動画を自動再生させる
* 参考　https://designsupply-web.com/media/programming/6548/
*
*/

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.c-modal-wrap {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
}

.c-modal-wrap.shown {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.c-modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-modal-panel {
  position: relative;
  max-width: 800px;
  width: calc(100% - 40px);
}

.c-modal-frame {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.c-modal-frame iframe {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.c-modal-thumbnail-item figure {
  position: relative;
}

.c-modal-thumbnail-item figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
}

.c-modal-close {
  position: absolute;
  top: -40px;
  right: 0;
  width: 40px;
  height: 40px;
  color: #fff;
}

.c-modal-close::before,
.c-modal-close::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  margin: auto;
  background-color: #fff;
  content: "";
}

.c-modal-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-modal-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*
 * フローティングバナー
 */

.c-floating-bnr {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.c-floating-bnr.is-show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.c-floating-bnr__btn {
  display: block;
}

/*
 * GSAPを使ったアニメーション実装のサンプル
 */

#dispersionMotion {
  overflow: hidden;
  position: relative;
  height: 50vh;
  background: #000;
}

.rect {
  display: block;
  position: absolute;
  top: -1vh;
  left: 25vw;
  width: 1vw;
  height: 1vw;
  background: white;
}

/*
 * レイアウト
 */

.sample-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sample-anchor li {
  position: relative;
  margin-top: 20px;
  padding-right: 2em;
  padding-left: 1.2em;
}

.sample-anchor li::before {
  position: absolute;
  top: .25em;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: solid 2px #5070e3;
  border-right: solid 2px #5070e3;
  content: "";
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.sample-form__fieldset {
  margin-top: 30px;
}

.sample-form-legend {
  font-weight: bold;
}

.sample-form-w50 {
  max-width: 50px;
}

.sample-form-w100 {
  max-width: 100px;
}

.sample-form-w200 {
  max-width: 200px;
}

.sample-form-w300 {
  max-width: 300px;
}

.sample-form-w500 {
  max-width: 500px;
}

.sample-form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: .3em 2em;
}

.sample-form-radio__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 .5em;
}

.sample-form-radio__label:has(:focus-visible) {
  outline: auto;
  outline-offset: 4px;
  text-decoration: underline;
  text-underline-offset: .25em;
}

.sample-form-radio__label::before,
.sample-form-radio__label::after {
  border-radius: 50%;
  content: "";
}

.sample-form-radio__label::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 2px solid #dee5eb;
}

.sample-form-radio__label::after {
  position: absolute;
  top: 50%;
  left: 9px;
  width: 9px;
  height: 9px;
  background-color: #dee5eb;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sample-form-radio__label:has(:checked)::after {
  background-color: #2589d0;
}

@-webkit-keyframes animRadio {
  0% {
    -webkit-box-shadow: 0 0 0 1px transparent;
    box-shadow: 0 0 0 1px transparent;
  }

  50% {
    -webkit-box-shadow: 0 0 0 10px #2589d033;
    box-shadow: 0 0 0 10px #2589d033;
  }

  100% {
    -webkit-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
  }
}

@keyframes animRadio {
  0% {
    -webkit-box-shadow: 0 0 0 1px transparent;
    box-shadow: 0 0 0 1px transparent;
  }

  50% {
    -webkit-box-shadow: 0 0 0 10px #2589d033;
    box-shadow: 0 0 0 10px #2589d033;
  }

  100% {
    -webkit-box-shadow: 0 0 0 10px transparent;
    box-shadow: 0 0 0 10px transparent;
  }
}

.sample-form-radio__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.sample-form-accept-terms__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 1;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 .5em;
}

.sample-form-accept-terms__label::before,
.sample-form-accept-terms__label:has(:checked)::after {
  content: "";
}

.sample-form-accept-terms__label::before {
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background-color: #e6edf3;
}

.sample-form-accept-terms__label:has(:checked)::before {
  background-color: #2589d0;
}

.sample-form-accept-terms__label:has(:checked)::after {
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sample-form-accept-terms__label:has(:focus-visible) {
  outline: auto;
  outline-offset: 4px;
  text-decoration: underline;
  text-underline-offset: .25em;
}

.sample-form-accept-terms__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.sample-form-btn {
  margin-top: 40px;
}

.sample-form-btn__content {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ff8c00;
  color: #fff;
  font-weight: 700;
  text-align: center;
  letter-spacing: .1em;
}

.sample-form-note {
  display: block;
  margin-top: 10px;
  color: #555;
}

.sample-form-error {
  margin-top: -80px;
  padding-top: 80px;
}

.sample-form-error > ul {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #e60000;
  background-color: #f5ecf4;
  color: #e60000;
  font-size: 14px;
}

.sample-form-error > ul > li {
  position: relative;
  padding-left: 1.1em;
}

.sample-form-error > ul > li:not(:first-child) {
  margin-top: 10px;
}

.sample-form-error > ul > li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "・";
}

.sample-btn {
  width: 200px;
}

.sample-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  margin-right: -10px;
  margin-left: -10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sample-col-item {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
  .c-tbl-scroll-note {
    display: none;
  }

  .c-input-btn {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .c-input-btn:-webkit-any-link:hover {
    opacity: .7;
  }

  .c-input-btn:-moz-any-link:hover {
    opacity: .7;
  }

  .c-input-btn:any-link:hover {
    opacity: .7;
  }

  .c-tab {
    max-width: 1000px;
    margin-top: 30px;
  }

  .c-tab-list__btn {
    cursor: pointer;
  }

  .c-tab-list__btn.is-active {
    font-size: 28px;
  }

  .c-tab-list__btn:not(.is-active) {
    font-size: 22px;
  }

  .c-tab-content {
    padding: 20px;
  }

  .c-tab-item {
    font-size: 15px;
  }

  .modal-video .mfp-close {
    top: -60px;
    width: 64px;
    height: 64px;
    font-size: 48px;
  }

  .modal-video-link {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .modal-video-link:-webkit-any-link:hover {
    opacity: .7;
  }

  .modal-video-link:-moz-any-link:hover {
    opacity: .7;
  }

  .modal-video-link:any-link:hover {
    opacity: .7;
  }

  .accordion-head {
    cursor: pointer;
  }

  .accordion-head:hover {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .accordion-head:hover:-webkit-any-link:hover {
    opacity: .7;
  }

  .accordion-head:hover:-moz-any-link:hover {
    opacity: .7;
  }

  .accordion-head:hover:any-link:hover {
    opacity: .7;
  }

  .c-btn {
    width: 320px;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .c-btn:-webkit-any-link:hover {
    opacity: .7;
  }

  .c-btn:-moz-any-link:hover {
    opacity: .7;
  }

  .c-btn:any-link:hover {
    opacity: .7;
  }

  .c-modal-thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }

  .c-modal-thumbnail-item {
    width: calc(33.3333333333% - 40px);
    margin-right: 20px;
    margin-left: 20px;
  }

  .c-modal-thumbnail-item:hover {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .c-modal-thumbnail-item:hover:-webkit-any-link:hover {
    opacity: .7;
  }

  .c-modal-thumbnail-item:hover:-moz-any-link:hover {
    opacity: .7;
  }

  .c-modal-thumbnail-item:hover:any-link:hover {
    opacity: .7;
  }

  .c-modal-close:hover {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .c-modal-close:hover:-webkit-any-link:hover {
    opacity: .7;
  }

  .c-modal-close:hover:-moz-any-link:hover {
    opacity: .7;
  }

  .c-modal-close:hover:any-link:hover {
    opacity: .7;
  }

  .c-floating-bnr {
    width: 150px;
  }

  .c-floating-bnr__btn {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .c-floating-bnr__btn:-webkit-any-link:hover {
    opacity: .7;
  }

  .c-floating-bnr__btn:-moz-any-link:hover {
    opacity: .7;
  }

  .c-floating-bnr__btn:any-link:hover {
    opacity: .7;
  }

  .sample-anchor li {
    width: 33.3333333333%;
  }

  .sample-form__fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .sample-form-legend {
    display: inline-block;
    float: left;
    width: 180px;
    padding-top: .8em;
  }

  .sample-form-legend--pt0 {
    padding-top: 0;
  }

  .sample-form__body {
    float: left;
    width: calc(100% - 180px);
    padding-left: 10px;
  }

  .sample-form-accept-terms {
    margin-top: 40px;
  }

  .sample-form-btn__content {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  .sample-form-btn__content:hover {
    opacity: .7;
  }

  .sample-form-note {
    font-size: 12px;
  }

  .sample-col-item {
    width: calc(33.3333333333% - 20px);
  }
}

@media screen and (max-width: 767px) {
  .c-tbl-scroll {
    overflow-x: scroll;
  }

  .c-tbl-scroll-note {
    margin-top: 10px;
  }

  .c-tbl-scroll > .c-tbl {
    min-width: 600px;
  }

  .c-tab {
    max-width: 480px;
    margin-top: 20px;
  }

  .c-tab-list__btn.is-active {
    font-size: 13px;
  }

  .c-tab-list__btn:not(.is-active) {
    font-size: 10px;
  }

  .c-tab-content {
    padding: 10px;
  }

  .modal-video .mfp-container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .c-btn {
    max-width: 400px;
    width: 80%;
  }

  .c-modal-thumbnail-item {
    margin-top: 20px;
  }

  .c-floating-bnr {
    width: 33.3333333333%;
  }

  .sample-anchor li {
    width: 50%;
  }

  .sample-form__body {
    margin-top: 10px;
  }

  .sample-form-accept-terms {
    margin-top: 30px;
  }

  .sample-form-note {
    font-size: 10px;
  }

  .sample-col-item {
    width: calc(50% - 20px);
  }
}