@charset "UTF-8";

/*
 * トップ
 */

/*
 * 記事一覧(カード型)
 */

.article-card__body {
  padding: 15px;
}

.article-card-label {
  display: inline-block;
  font-weight: 600;
  padding: .5em .8em;
  font-size: .7em;
  margin-right: 10px;
}

.article-card-label--info {
  color: #fff;
  background: crimson;
}

.article-card__text {
  margin-top: 20px;
}

.breadcrumb {
  display: none;
}

@media screen and (min-width: 768px) {
  .article-card {
    margin-left: auto;
    margin-left: auto;
  }

  .article-card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .article-card__item {
    width: calc(33.333% - 20px);
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
}

@media screen and (max-width: 767px) {
  .article-card__item:not(:first-child) {
    margin-top: 20px;
  }
}