<%#
    共通利用<header>タグ
    ※ページ独自のデザインがある場合は、パラメータを渡しclassを付与する

    例：
    <%# if (page === 'top') { %><div class="header-top"><%# } %>
%>

<header id="header" class="l-header">
    <div class="l-header__content">
        header
    </div>
</header>