/*
 * 【ギャラリーページ】
 */

// * base
@use "_base/variables";
@use "_base/mixin";

// * component(必要なstyleのみ読み込む)

.sample-section {
    @include mixin.view-at("pc") {
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    @include mixin.view-at("sp") {
      margin-right: 25px;
      margin-left: 25px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
}

.p-gallery {
  &-category {
    letter-spacing: 0.01em;

    @include mixin.view-at("pc") {
      width: 100%;
      max-width: 1200px;
      margin-top: 34px;
    }

    @include mixin.view-at("sp") {
      display: none;
      background-color: #fff;
      max-width: 90%;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1000;
    }

    &-sp {
      text-align: center;
      padding: 1em;
      color: #8b8b8b;

      @include mixin.view-at("pc") {
        display: none;
      }
    }

    &-menu {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;

      @include mixin.view-at("pc") {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      li {
        font-size: 14px;
        letter-spacing: 0.05em;

        @include mixin.view-at("pc") {
          display: inline-block;
          padding-top: 21px;
          padding-bottom: 21px;
          margin-right: 13px;
          margin-left: 13px;
        }

        @include mixin.view-at("sp") {
          display: block;
          text-align: center;
          padding: 1em;
        }

        a {
          transition: .3s ease;
          color: #3e3e3e;
          text-decoration: none;

          &:hover {
            @include mixin.view-at("pc") {
              @include mixin.pcHover();
            }
          }
        }
      }
    }
  }
  &-section {
    position: relative;

    @media screen and (min-width: 960px) {
      overflow: hidden;
      height: 640px;
    }

    @media screen and (max-width: 959px) {
      height: 280px;
    }

    &:hover {
      .slick-initialized {
        + .p-gallery-slider-dots {
          @media screen and (min-width: 960px) {
              opacity: 1;
              transition: all .5s ease-in-out;
              transition-delay: 0;
          }

          + .p-gallery-slider-dots-btn--prev {
            @media screen and (min-width: 960px) {
                opacity: 1;
                transition: all .5s ease-in-out;
                transition-delay: 0;
            }

            + .p-gallery-slider-dots-btn--next {
            @media screen and (min-width: 960px) {
                opacity: 1;
                transition: all .5s ease-in-out;
                transition-delay: 0;
            }
          }
          }
        }

      }
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url('../img/gallery/spin-black.svg');
      background-size: contain;
      width: 24px;
      height: 24px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
    }

    &.is-hide {
      height: auto;

      &::before {
        display: none;
      }
    }
  }

  &-slider {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    @media screen and (min-width: 960px) {
      height: 640px;
    }

    @media screen and (max-width: 959px) {
      height: 280px;
    }

    &.slick-initialized {
      opacity: 1;
      visibility: visible;
      height: auto;
    }

    &.slick-dotted.slick-slider {
      margin: 0;
    }

    .slick-prev, .slick-next {
      z-index: 10;
    }

    .slick-prev {
      left: 25px;
    }

    .slick-next {
      right: 25px;
    }

    &__item {
      position: relative;
    }

    &__box {
      letter-spacing: normal;
      font-feature-settings: "palt";

      @media screen and (min-width: 960px) {
        position: absolute;
        width: 300px;
        top: 40px;
        left: 10px;
      }

      @media screen and (max-width: 959px) {
        position: relative;
        width: 240px;
        margin-top: -18px;
      }
    }

    &__caption {
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 17px;
      padding: 5px;

      @media screen and (min-width: 960px) {
        background-color: rgba(255, 255, 255, .5);
      }

      @media screen and (max-width: 959px) {
        background-color: rgba(255, 255, 255, .5);
      }
    }

    &__sub-caption {
      color: #81898d;
      line-height: 1.5;
      padding: 10px;
      font-size: 14px;

      @media screen and (min-width: 960px) {
        background-color: rgba(255, 255, 255, 0.8);
      }

      @media screen and (max-width: 959px) {
        background-color: rgba(255, 255, 255, .5);
      }
    }

    &-arrow {
      position: absolute;
      background-size: contain;
      z-index: 2;
      top: 0;

      @media screen and (min-width: 960px) {
        width: 52px;
        height: 52px;
        bottom: 0;
        margin: auto;
      }

      @media screen and (max-width: 959px) {
        width: 36px;
        height: 36px;
        transform: translateY(-50%);
      }

      &--prev {
        @media screen and (min-width: 960px) {
          background-image: url('../img/gallery/arrows_prev.png');
          right: 52px;
        }

        @media screen and (max-width: 959px) {
          background-image: url('../img/gallery/arrows_prev_smp.png');
          right: 36px;
        }
      }

      &--next {
        right: 0;

        @media screen and (min-width: 960px) {
          background-image: url('../img/gallery/arrows_next.png');
        }

        @media screen and (max-width: 959px) {
          background-image: url('../img/gallery/arrows_next_smp.png');
        }
      }
    }

    &-dots {
      @media screen and (min-width: 960px) {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all .25s ease-in-out;
        transition-delay: 2s;
        transform: translate3d(0, 0, 0);
        background-color: rgba($color: #000, $alpha: .6);
      }

      &-list {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 960px) {
          padding: 6px 3px;
        }

        @media screen and (max-width: 959px) {
          margin-top: 5%;
          flex-wrap: wrap;
        }

        li {
          @media screen and (min-width: 960px) {
            width: 106px;
            padding-left: 3px;
            padding-right: 3px;
            cursor: pointer;
          }

          @media screen and (max-width: 959px) {
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-color: #525252;
            margin: 4px;
            transition: all .2s ease;
          }

          > img {
            @media screen and (min-width: 960px) {
              width: 100px;
              height: 60px;
              object-fit: cover;
              opacity: .35;
              transition: opacity .5s ease;

              &:hover {
                opacity: 1;
              }
            }

            @media screen and (max-width: 959px) {
              display: none;
              // visibility: hidden;
            }
          }

          &.slick-active {
            @media screen and (max-width: 959px) {
              background-color: #1d81f9;
            }

            > img {
              @media screen and (min-width: 960px) {
                opacity: 1;
              }
            }
          }
        }
      }

      &-btn {
        @media screen and (min-width: 960px) {
          position: absolute;
          width: 26px;
          height: 26px;
          bottom: 22px;
          z-index: 10;
          cursor: pointer;
          opacity: 0;
          transition: all .25s ease-in-out;
          transition-delay: 2s;
        }

        @media screen and (max-width: 959px) {
          display: none;
        }

        &--prev {
          left: 0;
          transform: translateX(-50px);

          &.is-active {
            transform: translateX(25px);
          }
        }

        &--next {
          right: 0;
          transform: translateX(50px);

          &.is-active {
            transform: translateX(-25px);
          }
        }
      }
    }
  }
}