/*
 * レイアウト
 */

// * base
@use "_base/variables";
@use "_base/mixin";

// * component(必要なstyleのみ読み込む)
@use "_component/tbl";
@use "_component/form";
@use "_component/tabs-content";
@use "_component/youtube-iframe";
@use "_component/_popup/modal-video";
@use "_component/accordion_basic";
@use "_component/btn";
@use "_component/youtube-iframe-api";
@use "_component/floating-bnr";
@use "_component/_gsap/sample";

.sample {
  &-anchor {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;

    li {
      position: relative;
      margin-top: 20px;
      padding-left: 1.2em;
      padding-right: 2em;

      @include mixin.view-at("pc") {
        width: calc(100% / 3);
      }

      @include mixin.view-at("sp") {
        width: calc(100% / 2);
      }

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        border-top: solid 2px #5070e3;
        border-right: solid 2px #5070e3;
        position: absolute;
        left: 0;
        top: .25em;
        transform: rotate(135deg);
      }
    }
  }

  &-form {
    padding-top: 10px;

    @include mixin.view-at("pc") {
      display: flex;
      flex-wrap: wrap;
    }

    dt {
      margin-top: 20px;

      @include mixin.view-at("pc") {
        width: 160px;
        padding-top: .5em;
      }
    }

    dd {
      @include mixin.view-at("pc") {
        width: calc(100% - 160px);
        padding-left: 20px;
        margin-top: 20px;
      }

      @include mixin.view-at("sp") {
        margin-top: 10px;
      }
    }

    &-w50 {
      max-width: 50px;
    }

    &-w100 {
      max-width: 100px;
    }

    &-w200 {
      max-width: 200px;
    }

    &-w300 {
      max-width: 300px;
    }

    &-w500 {
      max-width: 500px;
    }

    &-btn {
      margin-top: 30px;

      &__content {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
        background-color: #ff8c00;
        font-weight: 700;
        text-align: center;

        @include mixin.view-at("pc") {
          transition: opacity 0.25s ease;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  &-btn {
    width: 200px;
  }

  &-col {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;

   &-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;

    @include mixin.view-at("pc") {
      width: calc(100% / 3 - 20px);
    }

    @include mixin.view-at("sp") {
      width: calc(100% / 2 - 20px);
    }
   }
  }
}