/*
 * レイアウト
 */

// * base
@use "_base/variables";
@use "_base/mixin";

// * component(必要なstyleのみ読み込む)
@use "_component/tbl";
@use "_component/form";
@use "_component/tabs-content";
@use "_component/youtube-iframe";
@use "_component/_popup/modal-video";
@use "_component/accordion_basic";

.sample {
  &-btn {
    width: 200px;
  }

  &-col {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;

   &-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;

    @include mixin.view-at("pc") {
      width: calc(100% / 3 - 20px);
    }

    @include mixin.view-at("sp") {
      width: calc(100% / 2 - 20px);
    }
   } 
  }
}