/*
 * 動画埋め込みテストページ
 */

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.video-box {
  position: relative;
  padding-bottom: 50vh;

  &-item {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s, visibility 0s ease .3s;
    background-color: #fff;

    &--first {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;

    }

    &--second {
      position: relative;
      z-index: 1;
    }

    &.is-hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &-text {
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
  }
}

.test-header {
  width: 100%;
  position: fixed;
  background: rgba($color: #fff, $alpha: .5);
}

.sample-box {
  height: 100vh;
  font-size: 24px;
  padding: 20px;
  color: #fff;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}