/*
 * トップページ
 */

// * base
@import "_base/variables";
@import "_base/view-at";
@import "_base/link-color";

// * component
@import "_component/_slick/mv-slider";

.p-col-inst {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  li {
    width: calc(33.333% - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;

    > a {
      display: block;

      @include view-at("pc") {
        @include pcHover();
      }
    }
  }
}