/*
 * トップページ
 */

// * base
@use "_base/variables";
@use "_base/view-at" as view;
@use "_base/link-color" as link;

// * component
@use "_component/_slick/mv-slider";

.p-col-inst {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  li {
    width: calc(33.333% - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;

    > a {
      display: block;

      @include view.view-at("pc") {
        @include link.pcHover();
      }
    }
  }
}