// * Contact Form7サンプル

@use "../../_base/mixin";

.form-contact {
  position: relative;
  margin-top: 30px;

  @include mixin.view-at("pc") {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  th,
  td {
    @include mixin.view-at("pc") {
      border-bottom: solid 1px #ccc;
    }

    @include mixin.view-at("sp") {
      display: block;
      padding: 0;
      width: 100%;
    }
  }

  tr {
    @include mixin.view-at("sp") {
      display: block;
      margin-bottom: 20px;
    }

    &:last-of-type {
       th,
       td {
        @include mixin.view-at("pc") {
          border: none;
        }
      }
    }
  }

  th {
    font-weight: normal;
    text-align: left;
    width: 30%;
    font-weight: 700;

    @include mixin.view-at("pc") {
      padding-top: 35px;
    }
  }

  td {
    padding: 20px 20px;
    width: 70%;
  }

  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 10px 20px;
    transition: 0.3s;

    &:focus {
      border: 1px solid #0086d1;
    }

    @include mixin.view-at("pc") {
      width: 100%;
    }
  }

  textarea {
    width: 100%;
  }

  .text-required {
    background: #e5004f;
    border-radius: 3px;
    color: #fff;
    display: inline;
    margin-right: 1rem;
    padding: 2px 7px 4px;
    position: relative;
    top: -2px;
    vertical-align: middle;
  }

  .form-contact__btn {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;

    input[type="submit"] {
      width: 100%;
      background-color: #0086d1;
      font-weight: 700;
      color: #fff;
      font-size: 20px;
      letter-spacing: 0.15rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mixin.view-at("pc") {
        @include mixin.pcHover();
      }
    }
  }

  .wpcf7-checkbox {
    > .wpcf7-list-item {
      margin-right: 1.2em;
      margin-left: 0;

       > label {
        display: block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        user-select: none;

        input {
          display: none;

          &:checked {
            +.wpcf7-list-item-label {
              &::before {
                background-color: #0070bd;
              }

              &::after {
                display: block;
              }
            }
          }
        }

        .wpcf7-list-item-label {
          display: block;
          position: relative;
          padding-left: 30px;

          &::before,
          &::after {
            content: '';
            position: absolute;
          }

          &::before {
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background: #CCC;
            
          }

          &::after {
            display: none;
            left: 6px;
            top: 2px;
            width: 5px;
            height: 10px;
            border: 2px solid #FFF;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}